<div class="contact-page">
  <div class="contact-header">
    <img
      src="assets/developer-image/Gorkem.png"
      alt="Developer Görkem Karagöz"
      class="developer-photo"
    />
    <h2>About the Developer</h2>
  </div>

  <ul class="info-list">
    <li><span class="label">Name:</span> Görkem Karagöz</li>
    <li>
      <span class="label">GitHub:</span>
      <a href="https://github.com/gorkemkaragoz" target="_blank">
        https://github.com/gorkemkaragoz
      </a>
    </li>
    <li>
      <span class="label">Email:</span>
      <a href="mailto:gorkem1928karagoz@gmail.com">
        gorkem1928karagoz@gmail.com
      </a>
    </li>
    <li><span class="label">Role:</span> Java Backend Developer</li>
    <li>
      <span class="label">Tech Stack:</span> Java Spring Boot, MySQL, Angular
    </li>
  </ul>

  <hr />

  <p class="footer">
    This project was developed as part of a training internship program
  </p>
</div>